body {
  background-color: #010101;
  color: #fff;
  font-family: "Rubik", sans-serif;
}

.hero-img {
  border-radius: 200px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
}
